.cell{
  border: black .1vh solid;
  width: 4vh;
  height: 4vh;

  &:hover{
    background-color: #c4c4c4;
  }

  &.selected{
    background-color: #424242;

    &.selected:hover{
      background-color: #8c8c8c;
    }
  }
}