.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 150vh;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  position: sticky;
  a{
    text-decoration: none;
    h1{
      color: #130085;
    }
  }
  .dimensions{
    margin-left: auto;

    input{
      margin: 1vh;
      text-align: center;
    }

  }
}